#header1, #header2, #header3, #header4, #header5, #header6, #form1, #form2, #form3, #form4, #form5, #form6, hr, #defDeltaY, #deltaFlights, #deltaFlightsText {
  display: none;
}
#deltaFlightsText{
  padding: 0px;
  margin: 0px;
}

hr{
  margin-left: 0px;
  margin-right: 0px;
  border-color: black;
  margin: 8px;
}
h1{
  font-size: 25px;
}
#headerID,#flightsID{
  display: none;
}

#wig1, #wig2 {
  transform: scale(0.5,0.5);
  transform-origin: top left;
  float: left;
}

#headerID{
  padding-right: 50px;
  position: relative;
  top: 35px;
}
#flightsID{
  position:relative;
  bottom: 10px;
  padding-right: 62px;
  /*display: none;*/
}

/*body{
  -webkit-app-region: drag;
}*/
input[type="number"]{
  width:50px;
}

#notice{
  text-align: left;
}

#makeChanges{
  cursor: not-allowed;
  /*opacity: 0.65;
  background-color: grey;*/

}
.flex-item-vertical-container{
  display: -webkit-flex;
  display: flex;
  width: 500;
  height: auto;
  padding-left: 40px;
  padding-right: 60px;
}
.flex-item-horizontal-content{
  display: -webkit-flex;
  align-items: left;
  flex-direction: column;
  width: 200px;

}
.flex-item-hor{
  display: inline;
  align-items: flex-start;
}
.flex-item-vertical-content{
  display: -webkit-flex;
  align-items: center;
  flex-direction: column;
  width: 200px;


}
.toggle-switch{
  display: none;
}

.flex-input-container{
  display: -webkit-flex;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  padding-right: 50px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;

}
.flex-item, .flex-item-wig{
  display:inline;
  background-color: cornflowerblue;

  margin: 0px;
}

.flex-item {

    padding: 5px;
}
.flex-item-wig{
  padding: 0px;
  width: 600px;
  height: 960px;
}

webview{
  /*transform: scale(0.45, 0.45);*/
  /*transform-origin: top left;*/
  /*display:none;*/
}
