@font-face {
    font-family: FrutigerLTStdRoman;
    src: url("../fonts/FrutigerLTStd-Roman.otf");
}

@font-face {
    font-family: FrutigerLTStdLightItalc;
    src: url("../fonts/FrutigerLTStd-LightItalic.otf");
}

@font-face {
    font-family: FrutigerLTStdBold;
    src: url("../fonts/FrutigerLTStd-Bold.otf");
}

@font-face {
    font-family: FrutigerLTStdLight;
    src: url("../fonts/FrutigerLTStd-Light.otf");
}

* {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    padding: 0;
    white-space: nowrap;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

p {
    color: yellow;
    font-size: 36px;
}

#debug {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 999;
    color: #ffff88;
    font-family: Calibri, sans-serif;
    font-size: 20pt;
    display: none;
    padding: 12px;
    background-color: black;
}

#fpsrow {
    color: orangered;
}

.debugrow {
    display: block;
}

.debuglabel {
    display: inline-block;
    font-family: Calibri, sans-serif;
    color: inherit;
    font-size: 20pt;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    vertical-align: top;
}

.debugvalue {
    display: inline-block;
    color: inherit;
    font-family: Calibri, sans-serif;
    font-size: 20pt;
    text-align: right;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    vertical-align: top;
}

.corrections {
    display: inline-block;
    color: #ffff88;
    font-family: Calibri, sans-serif;
    font-size: 20pt;
    text-align: right;
    min-width: 300px;
    vertical-align: top;
}

.statustext {
    display: inline-block;
    transform: scale(0.75);
    transform-origin: 0% 125%;
}

.smallstatustext {
    vertical-align: top;
    display: inline-block;
    transform: scale(0.75);
    transform-origin: 0% 50%;
}

.ontime {
    color: #00f05a;
}

.delayed {
    color: #f0f000;
}

.cancelled {
    color: #f01313;
}

.statuscircle {
    position: relative;
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 2px solid white;
}

.mediumstatuscircle {
    position: relative;
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 2px solid white;
}

.smallstatuscircle {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid white;
}

.circletext {
    color: white;
    font-size: 22px;
    font-family: FrutigerLTStdRoman, sans-serif;
    text-shadow: -2px 0 #777777, 0 2px #777777, 2px 0 #777777, 0 -2px #777777;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.ontimebg {
    background-color: #00d03a;
}

.delayedbg {
    background-color: #f0f000;
}

.cancelledbg {
    background-color: #f01313;
}